#paginaInicial {
  background-color: #fff;
  position: relative;
  max-width: fit-content;
}

#secaoIntroducao {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 3rem;
  width: 100%;
  margin-bottom: 0.1rem;
  align-items: center;
}

#fotoPerfil {
  width: 48%;
  height: auto;
  object-fit: cover;
  margin-right: 20px;
  max-width: 300px;
}

#introducaoArea {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-right: 20px;
}

#bemVindo {
  font-size: 16px;
  color: #aa8471;
  font-weight: bold;
  text-align: left;
  margin-bottom: 1rem;
  width: 100%;
  font-family: 'playfair';
}

#introducao {
  width: 100%;
  font-size: 13px;
  line-height: 18px;
  text-align: justify;
  max-width: 250px;
  font-family: 'opensans';
}

#secaoCadastro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#tituloJogos {
  font-size: 23px;
  color: #63061c;
  font-weight: bold;
  text-align: start;
  display: flex;
  align-self: flex-start;
  margin-left: 10px;
  font-family: 'kenao';
}

#conteudoCadastro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
  max-width: 1200px;
}

#fotoCartas {
  height: auto;
  margin-top: 30px;
  margin-left: 5px;
  width: 150px;
  position: relative;
  top: -20px;
}

#explicacaoJogos {
  flex: 1;
  font-size: 13px;
  line-height: 1.6;
  text-align: justify;
  min-width: 200px;
  margin-right: 20px;
  max-width: 300px;
  font-family: 'opensans';
}

#cadastroAcoes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aa84716e;
  border-radius: 10px;
  gap: 0.3rem;
  flex-wrap: wrap;
  margin-top: 1rem;
  padding-left: 1rem;
  width: fit-content;
}

#textoCadastro {
  font-size: 13px;
  color: black;
  font-family: 'playfair';
}

#botaoCadastro {
  background-color: #63061c;
  color: white;
  border: none;
  padding: 0.4rem 0.7rem;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'opensans';
}

#botaoCadastro:hover {
  background-color: #8f102e;
}

#secaoFeedback {
  background-color: #63061c;
  color: white;
}

#tituloFeedback {
  font-family: 'playfair';
  margin-left: 30px;
  margin-top: 30px;
}

.titulo {
  font-weight: bold;
  text-align: start;
  margin-bottom: 1rem;
}

.texto {
  line-height: 1.8;
  text-align: justify;
  color: black;
}

.feedback{
  display: flex;
  margin: 10px 0;
}

.fotoFeedback {
  border-radius: 100%;
  width: 100px;
  height: auto;
  margin-right: 15px;
}

.textoFeedback {
  
}

.conteudoFeedback {
  background-color: #6a6a80;
  border-radius: 10px;
  width: 100%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animarEntrada {
  animation: fadeInUp 1s ease forwards;
}
